# ignore all sh
*.sh
# ignore all bat
*.bat
# ignore all exe
*.exe
# ignore all dll
*.dll
# ignore all lib
*.lib
*.a
# ignore all include
include/
nelua-lang/
lua-lang/
luajit-lang/
# ignore all linkers
makelua.bat
mklua.bat
mkl.bat
makelua.ps1
mklua.ps1
mkl.ps1